body {
  background-color: #ffffff;
  color: #000000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffffff;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

body {
  font-size: 16px;
}

figcaption {
  font-size: 16px;
  font-style: italic;
  line-height: 120%
}

h1 {
  font-size: 3em;
  font-weight: 500
}

h3 {
  font-size: 1em;
  font-style: italic;
  line-height: 120%
}

p {
  font-size: 100%;
  line-height: 150%;
}
